a {
    float: left;
	display: inline;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: orange;
	text-decoration: none;
}

a:hover {
    color: red;
}
h1 {
  padding: 5px;
  margin: auto;
  font-weight: bold;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
}
h2 {
  font-weight: bold italic;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  display: inline;
  text-align: center;
  color: orange;
  font-variant: small-caps;
}
h3 {
  font-weight: bold;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  color: black;
  text-decoration: none;
}
h4 {
  font-weight: bold italic;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  display: inline;
  text-align: center;
  color: black;
  font-variant: bold;
}
body {
  background-color: black;
}
.gangShoes {
  margin: 5%;
}
.container2 {
  background-color: white;
  height:inherit;
}
.page {
  background-color: white;
  display: inline-block;
  width: 720px;
  text-decoration: none;
}
.outerWhiteBox {
	background-color: white;
	margin: 5% 22% 5% 22%;
	display: inline-block;
	width: 720px;
	text-decoration: none;
}
.whiteBox {
	background-color: white;
	display: inline-block;
	margin: 5%;
	padding: 3px;
	letter-spacing: normal;
	text-align: justify;
	vertical-align: middle;
	white-space: pre;
}
.orangeBackground {
  background-image:url(images/WebBackground.png);
  display: inline-block;
  margin: 5px;
  padding: 3px;
  width: 700px;
  min-height: 100px;
  text-decoration: none;
}
/*
.innerOrangeBackground {
  background-image:url(images/WebBackground.png);
  display: inline-block;
  margin:inherit;
  width: 700px;
  text-decoration: none;
}
*/
.button {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: inherit;
  font-size: 15px;
  float: right;
  color: white;
  background-color: #F0F;
  border: 1px #444444 solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 10px;
  display:inline-block;
}
.pinkContainer {
  overflow:hidden;
  background-color: #FCF;
  display: inlin-block;
  width: 700px;
}
.textHere {
	display: inline;
	color: black;
    height: 10px;
    padding: 10px;
    font-style: inherit;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9px;
}


.clickMe {
	border:#CCC solid 2px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: orange;
	height: 10px;
	padding: 5px;
	font-family: sans-serif;
    text-decoration: none;
	margin: 10px;
	text-align: left;
}
.clickMeImage {
  text-decoration: none;
	margin: auto;
  width: 100%;
  align: center;
  padding: 5px;
	display:inline-block;
}
.clickMe:hover {
    color: red;
    background-color: inherit;
}
.inline {
  padding: 5px;
  display: inline;
  margin: auto;
  font-size: 15px;
    float: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
}

.inline2 {
  padding: 1px;
  display: inline-block;
  width: 100%;
  float: left;
}
.inline3 {
  padding: 1px;
  display: inline-flex;;
  width: 100%;
  float: left;
}
.bottomMenu {
  padding: 1px;
  display: inline;
  float: left;
}
.gradient {
  background-color: black;
  padding-top: 50px;
  padding-left: 50px;
}

.example {
  border: 2px dashed #ff0000;
  margin-bottom: 50px;
  }
.right-align {
    float: right;
    padding-right: 10px;
    text-decoration: none;
	text-align: right;
    border: 2px dashed #ff0000;
}
